<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/logs/internallog.txt">

  <targets>
   
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}_log.txt"
            archiveEvery="Day"
            maxArchiveFiles="5"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
    
    <target name="console" xsi:type="Console"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
  </targets>

  <rules>
    
    <logger name="CarRentalSystem.*" minlevel="Debug" writeTo="logfile" />
    
    <logger name="CarRentalSystem.*" minlevel="Info" writeTo="console" />
    
    <logger name="Microsoft.*" minlevel="Info" writeTo="console" final="true" />
    <logger name="System.*" minlevel="Info" writeTo="console" final="true" />
  </rules>
</nlog>
